[run]
branch = True
omit =
    .*/*
    tests/*
    neo4j/meta.py
    *neobolt*
    *virtualenv*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    except ImportError

show_missing = True
