# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{py,js,rst,txt,sh,bat}]
trim_trailing_whitespace = true

[{Makefile,Drockerfile}]
trim_trailing_whitespace = true

[*.bat]
end_of_line =crlf

[*.py]
max_line_length = 79
indent_style = space
indent_size = 4
