/target

*~
*.py[cod]
__pycache__/
.pytest_cache/
*.lprof
*.class

*.so

.DS_Store

.Python
.venv/
.tox/
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VSCode
.vscode/

testkit/CAs
testkit/CustomCAs
