*~
*.py[cod]
__pycache__
.pytest_cache/
*.lprof
*.class
*.o
*.so
*.dylib
*.dll

.idea
htmlcov
.coverage
.test
.tox
.benchmarks
.cache
.pytest_cache
.DS_Store

docs/build
dist/
*.egg-info
build/
venv*/
.venv*/
.tox/

run
*/run

neo4j-community-*
neo4j-enterprise-*

testkit/CAs
testkit/CustomCAs
