*~
*.py[co]
__pycache__
*.lprof
*.class

.idea
htmlcov
.coverage
.test
.tox
.benchmarks
.cache
.pytest_cache

docs/build
dist
*.egg-info
build
venv

run
*/run

neo4j-community-*
neo4j-enterprise-*

*.so
