# the driver itself
-e .[pandas,numpy,pyarrow]

# needed for packaging
build>=1.1.1  # TODO: 6.0 - bump when support for Python 3.7 is dropped

# auto-generate sync driver from async code
unasync==0.5.0
# pre-commit hooks and tools
pre-commit>=2.21.0  # TODO: 6.0 - bump when support for Python 3.7 is dropped
isort>=5.11.5  # TODO: 6.0 - bump when support for Python 3.7 is dropped
mypy>=1.4.1  # TODO: 6.0 - bump when support for Python 3.7 is dropped
typing-extensions>=4.7.1
types-pytz>=2023.3.1.1  # TODO: 6.0 - bump when support for Python 3.7 is dropped
ruff>=0.8.2

# needed for running tests
coverage[toml]>=7.2.7  # TODO: 6.0 - bump when support for Python 3.7 is dropped
freezegun>=1.5.1
mock>=5.1.0
pytest>=7.4.4  # TODO: 6.0 - bump when support for Python 3.7 is dropped
pytest-asyncio~=0.21.2  # TODO: 6.0 - bump when support for Python 3.7 is dropped
pytest-benchmark>=4.0.0
pytest-cov>=4.1.0  # TODO: 6.0 - bump when support for Python 3.7 is dropped
pytest-mock>=3.11.1  # TODO: 6.0 - bump when support for Python 3.7 is dropped
tox>=4.8.0  # TODO: 6.0 - bump when support for Python 3.7 is dropped

# needed for building docs
Sphinx>=5.3.0  # TODO: 6.0 - bump when support for Python 3.7 is dropped

# needed for BenchKit
sanic>=23.3.0  # TODO: 6.0 - bump when support for Python 3.7 is dropped
