# the driver itself
-e .[pandas,numpy,pyarrow]

# needed for packaging
build

# auto-generate sync driver from async code
unasync>=0.5.0
# pre-commit hooks and tools
pre-commit>=2.15.0
isort>=5.10.0
mypy>=0.971
typing-extensions>=4.3.0
types-pytz>=2022.1.2

# needed for running tests
coverage[toml]>=5.5
# pin freezegun to 1.4.x until https://github.com/spulec/freezegun/pull/546 is resolved
freezegun ~= 1.4.0
mock>=4.0.3
pytest>=6.2.5
pytest-asyncio>=0.16.0
pytest-benchmark>=3.4.1
pytest-cov>=3.0.0
pytest-mock>=3.6.1
pytest-benchmark>=4.0.0
teamcity-messages>=1.29
tox>=4.0.0

# needed for building docs
sphinx

# needed for BenchKit
sanic>=23.12.1; python_version >= '3.8.0'
